export XDG_CONFIG_HOME=~/.config
ALACRITTY_FONT=RobotoMono_Nerd_Font_Mono
ALACRITTY_FONT=CaskaydiaCove_Nerd_Font_Mono


kfc -s sexy-belge 2>&1

#if [[ -e "$ALACRITTY_SOCKET" ]]; then
#    pycritty -f "$ALACRITTY_FONT"
#fi
